* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(223, 245, 220);
}

.top {
    height: 20vh;
    background-color: rgb(111, 204, 204);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
    flex-direction: column;
    gap: 15px;
}

.bottom {
    height: 85vh;
    background-color: rgb(223, 245, 220);
    position: relative;
    
}



.visible {
    visibility: visible;
}


button {
    margin: 0 0 -30px 10px;
    border: solid 2px black;
    border-radius: 10px;
    padding: 8px;
    font-size: 1.2rem;
    width: 15%;
    cursor: pointer;
}

.pop-up {
    background-color: white;
    width: 30%;
    height: 45%;
    border: solid 2px black;
    border-radius: 10px;
    margin-top: 20px;
    padding-left: 30px;
    position: absolute;
    left: 34vw;
    visibility: visible;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    padding: 15px;
}

.card {
    background-color: beige;
    border: solid 2px black;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    border-radius: 10px;
}



legend {
    font-size: 2rem;
}

form {
    position: relative;
}

span {
    position: absolute;
    right: 10px;
    top: -5px;
}

input {
    width: 80%;
    padding: 7px;
}

input, label, legend {
    margin: 10px;
}

label {
    margin-top: 20px;
}

form > button {
    font-size: 1rem;
    width: 80%;
}

.select {
    margin: 10px 0 20px 0;
}

ul {
    margin-top: 20px;
}

.close {
    cursor: pointer;
}